@model AKTTool.Models.GeneralView

<span class="heading uk-align-center">Search Engine</span>

<div id="search" class="uk-grid uk-flex-center uk-align-center" style="width: 80%">

  <!--SearchDesktop-->
  <div class="uk-card uk-card-default uk-card-body" id="searchDesktop">
    <form asp-action="Search" asp-controller="Search" id="searchForm"
          data-ajax-complete="showResult"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#resultPartial">

      <table class="uk-table uk-table-small uk-width-1-1">
        <thead>
          <tr>
            <td>
              <label asp-for="item.type"></label>
            </td>
            <td>
              <label asp-for="item.code"></label>
            </td>
            <td>
              <label asp-for="item.link"></label>
            </td>
            <td>
              <button type="submit" class="uk-button uk-button-primary">Search</button>
            </td>
          </tr>
        </thead>
        <tr>
          <td>
            <input asp-for="item.type" class="uk-input" />
          </td>
          <td>
            <input asp-for="item.code" class="uk-input" />
          </td>
          <td>
            <input asp-for="item.link" class="uk-input" />
          </td>
          <td></td>
        </tr>
      </table>

    </form>
  </div>

  <!--SearchMobile-->
  <div class="uk-card uk-card-default uk-card-body" id="searchMobile">
    <form asp-action="Search" asp-controller="Search" id="searchForm"
          data-ajax-complete="showResult"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#resultPartial">

      <table class="uk-table uk-table-small uk-width-1-1">
        <tr>
          <td>
            <label asp-for="item.type"></label>
          </td>
          <td>
            <input asp-for="item.type" class="uk-input" />
          </td>
        </tr>
        <tr>
          <td>
            <label asp-for="item.code"></label>
          </td>
          <td>
            <input asp-for="item.code" class="uk-input" />
          </td>
        </tr>
        <tr>
          <td>
            <label asp-for="item.link"></label>
          </td>
          <td>
            <input asp-for="item.link" class="uk-input" />
          </td>
        </tr>
        <tr>
          <td>
            <button type="submit" class="uk-button uk-button-primary">Search</button>
          </td>
          <td></td>
        </tr>
      </table>

    </form>
  </div>

  <!--InsertDesktop-->
  <div id="insertDesktop" class="uk-card uk-card-default uk-card-body">
    <form asp-action="Insert" asp-controller="Search"
          data-ajax-begin="disableAddButton"
          data-ajax-complete="showResult"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#resultPartial">

      <table class="uk-table uk-table-small uk-width-1-1">
        <thead>
          <tr>
            <td>
              <label asp-for="itemInsert.type"></label>
            </td>
            <td>
              <label asp-for="itemInsert.code"></label>
            </td>
            <td>
              <label asp-for="itemInsert.link"></label>
            </td>
            <td>
              <button id="addButton" type="submit" class="uk-button uk-button-danger">Add</button>
            </td>
          </tr>
        </thead>
        <tr>
          <td>
            <input asp-for="itemInsert.type" class="uk-input" />
            <span asp-validation-for="itemInsert.type" class="uk-alert-danger"></span>
          </td>
          <td>
            <input asp-for="itemInsert.code" class="uk-input" />
            <span asp-validation-for="itemInsert.code" class="uk-alert-danger"></span>
          </td>
          <td>
            <input asp-for="itemInsert.link" class="uk-input" />
            <span asp-validation-for="itemInsert.link" class="uk-alert-danger"></span>
          </td>
          <td></td>
        </tr>
      </table>

    </form>
  </div>

  <!--InsertMobile-->
  <div id="insertMobile" class="uk-card uk-card-default uk-card-body">
    <form asp-action="Insert" asp-controller="Search"
          data-ajax-complete="showResult"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#resultPartial">

      <table class="uk-table uk-table-small uk-width-1-1">
        <tr>
          <td>
            <label asp-for="itemInsert.type"></label>
          </td>
          <td>
            <input asp-for="itemInsert.type" class="uk-input" />
            <span asp-validation-for="itemInsert.type" class="uk-alert-danger"></span>
          </td>
        </tr>
        <tr>
          <td>
            <label asp-for="itemInsert.code"></label>
          </td>
          <td>
            <input asp-for="itemInsert.code" class="uk-input" />
            <span asp-validation-for="itemInsert.code" class="uk-alert-danger"></span>
          </td>
        </tr>
        <tr>
          <td>
            <label asp-for="itemInsert.link"></label>
          </td>
          <td>
            <input asp-for="itemInsert.link" class="uk-input" />
            <span asp-validation-for="itemInsert.link" class="uk-alert-danger"></span>
          </td>
        </tr>
        <tr>
          <td>
            <button id="addButton" type="submit" class="uk-button uk-button-danger">Add</button>
          </td>
          <td></td>
        </tr>
      </table>
    </form>
  </div>

  <div class="uk-card uk-card-default uk-card-body">
    <form asp-action="Update" asp-controller="Search" id="updateForm"
          data-ajax-complete="showResult"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#resultPartial">
      <!--Result-->
      <div id="resultPartial">
        <partial name="_Result" model="Model" />
      </div>
    </form>
  </div>
</div>

<br />

@section Scripts
  {
  <script type="text/javascript" src="@Url.Content("~/js/Search.js")"></script>
}
