<!--Title-->
<span class="heading uk-align-center">AKT - Architect</span>

<!--Image Holder-->
<div class="uk-container" style="width: 40%; ">
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

    <ul class="uk-slideshow-items">
      <li>
        <img data-src="images/sKs.jpg" width="1800" height="1200" alt="" uk-cover uk-img="target: !ul > :last-child, !* +*">
      </li>
      <li>
        <img data-src="images/sKs.jpg" width="1800" height="1200" alt="" uk-cover uk-img="target: !* -*, !* +*">
      </li>
      <li>
        <img data-src="images/sKs.jpg" width="1800" height="1200" alt="" uk-cover uk-img="target: !* -*, !ul > :first-child">
      </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

  </div>
</div>

<!--Info-->
<p style="color: black; text-align: center">Info about the company</p>
