<!--Title-->
<span class="heading uk-align-center">AKT - Architect</span>

<div class="uk-container uk-align-left sideAds">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- SideBar -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5097396064168160"
       data-ad-slot="3148405079"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
(adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<div class="uk-container uk-align-right sideAds">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- SideBar -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5097396064168160"
       data-ad-slot="3148405079"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

<!--Image Holder-->
<div id="slideshow" class="uk-container" style="max-width: 600px; max-height: 350px;">
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

    <ul class="uk-slideshow-items">
      <li>
        <img data-src="images/House1.jpg" width="1800" height="1200" alt="" uk-cover uk-img="target: !ul > :last-child, !* +*">
      </li>
      <li>
        <img data-src="images/House2.jpg" width="1800" height="1200" alt="" uk-cover uk-img="target: !* -*, !* +*">
      </li>
      <li>
        <img data-src="images/House3.jpg" width="1800" height="1200" alt="" uk-cover uk-img="target: !* -*, !* +*">
      </li>
      <li>
        <img data-src="images/House4.jpg" width="1800" height="1200" alt="" uk-cover uk-img="target: !* -*, !ul > :first-child">
      </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

  </div>
</div>

<!--Info-->
<div class="uk-container uk-align-center" style="position: relative">
  <p style="color: black; text-align: center">Info about the company</p>
</div>
